# Виртуальное окружение
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# База данных (если используешь SQLite локально)
db.sqlite3
db.sqlite3-journal

# Медиа и статика (обычно пробрасываются через volumes)
media/
static/

# Логи и секреты
*.log
.env

# Git
.git/
.gitignore

# Системные файлы
.DS_Store
Thumbs.db

# Конфиги IDE
.vscode/
.idea/
