# Python
__pycache__/
*.py[cod]
*$py.class
../.venv/
env/
venv/
ENV/

# Django
main/db.sqlite3
db.sqlite3-journal
media/
static/
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
